@model ReefAquariumDatabase.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salinity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salinity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinTankSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinTankSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
